.newListPage {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.newListTitle {
  opacity: 0.5;
}

.listForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.listType {
  padding: 10px;
  margin-bottom: 20px;
}

.listItem {
  margin-bottom: 10px;
}

.createNewList {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(36, 29, 97);
  cursor: pointer;
}
